{% load service_tags %}

{% regroup analysis.results by subtype as result_list %}
{% for result_subtype in result_list %}
    <h4>{{ result_subtype.grouper }}</h4>
    <table class="chart">

    {% for result in result_subtype.list %}
    {% if forloop.first %}
    {# Create the header the first time through the loop. #}
    <thead>
        <colgroup>
            <col width="20%" />
            <col width="80%" />
        </colgroup>
        <tr>
            <th>Type</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
    {% endif %}
        <tr>
            <td>
                Lookup Time
            </td>
            <td>
                {{ result.Lookup_Time }}
            </td>
        </tr>
        <tr>
            <td>
                ASN
            </td>
            <td>
                {{ result.ASN }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% empty %}
    {% if analysis.status == 'started' %}
        <p> This service is still running. </p>
    {% else %}
        <p> This service produced no results. </p>
    {% endif %}
{% endfor %}