{% load filters %}

<table class="chart">
{% for field, value in analysis.config.to_dict.items %}
    {% if forloop.first %}
    {# Create the header the first time through the loop. #}
    <thead>
        <colgroup>
            <col width="20%" />
            <col width="80%" />
        </colgroup>
        <tr>
            <th>Type</th>
            <th>Value</th>
        </tr>
    </thead>
    {% endif %}
    <tbody>
        <tr>
            <td>
                {{ field }}
            </td>
            <td>
                {{ value }}
            </td>
        </tr>
    </tbody>
{% endfor %}
{% regroup analysis.results by subtype as result_list %}
{% for result_subtype in result_list %}
    <h4>{{ result_subtype.grouper }}</h4>

    {% for result in result_subtype.list %}
    {% if forloop.first %}

    {% endif %}

    <tbody>
        <tr>
            <td>
                {{ result.Key }}
            </td>
            <td>
                {{ result.result }}
            </td>
        </tr>
    </tbody>
    {% endfor %}

{% endfor %}
</table>