{% load filters %}

<!--
  Figured out that I want to refer to IP object using simply 'ip'
  by looking at 'ips.handlers.get_ip_details()'.
-->

<!--<script type="text/javascript" src="editable_textbox.js"></script>-->

<script>
$(document).ready(function() {
    $("#get_service_data").click(function() {
      $.ajax({
        type: "GET",
        url: "{% url 'zanes_service.views.get_zanes_service_data' 'IP' ip.ip %}",
        dataType: "json",
        success: function(data) {
          if (data['success'] != "true") {
              $("#service_data").text(data['message']);
          } else {
              var msg = data['message'];
              $("#service_data").text(msg['info']);
          }
        }
      });
    });
    $('#ip_description').editable(function (value, settings) {
        var revert = this.revert;
        return function (value, settings, elem) {
            var data = {
                type: subscription_type,
                id: subscription_id,
                description: value,
            };
            $.ajax({
                type: "POST",
                async: false,
                url: "{% url 'crits.core.views.update_object_description' %}",
                data: data,
                success: function (data) {
                    if (!data.success) {
                        value = revert;
                        $('#ip_description_error').text(' Error: ' + data.message);
                    }
                }
            });
            var escapes = {
                '&': '&amp;',
                '"': '&quot;',
                "'": '&apos;',
                '>': '&gt;',
                '<': '&lt;'
            };
            return value.replace(/&(?!amp;|quot;|apos;|gt;|lt;)|["'><]/g,
                    function (s) {
                        return escapes[s];
                    });
        }(value, settings, this);
    }, {
        type: 'textarea',
        height: "50px",
        width: "400px",
        tooltip: "",
        cancel: "Cancel",
        submit: "Ok",
        onblur: 'ignore',
    });
    $('#ip_misc').editable(function (value, settings) {
        var revert = this.revert;
        return function (value, settings, elem) {
            var data = {
                type: subscription_type,
                id: subscription_id,
                misc: value,
            };
            $.ajax({
                type: "POST",
                async: false,
                url: "{% url 'zanes_service.views.update_ip_misc' %}",
                data: data,
                success: function (data) {
                    if (!data.success) {
                        value = revert;
                        $('#ip_misc_error').text(' Error: ' + data.message);
                    }
                }
            });
            var escapes = {
                '&': '&amp;',
                '"': '&quot;',
                "'": '&apos;',
                '>': '&gt;',
                '<': '&lt;'
            };
            return value.replace(/&(?!amp;|quot;|apos;|gt;|lt;)|["'><]/g,
                    function (s) {
                        return escapes[s];
                    });
        }(value, settings, this);
    }, {
        type: 'textarea',
        height: "50px",
        width: "400px",
        tooltip: "",
        cancel: "Cancel",
        submit: "Ok",
        onblur: 'ignore',
    });
});
</script>

<script>
    $(document).ready(function() {

    });
</script>

<div id="zanes_service" width="100%">

    Oh, that's a webpage!

    <span class="horizontal_menu">
        <ul class="hmenu">
            <li class="right" id="data_button">
                <a href="#" id="get_service_data">Get Data</a>
            </li>
        </ul>
    </span>

    <div class='content_box content_details' style="width: 100%;">
        <h3 class="titleheader" width="100%">
            <span>Data</span>
        </h3>
        <div id="service_data" style="width:100%;max-height:300px;overflow:auto;"></div>
    </div>

    <table class="chart">

        <thead>
            <colgroup>
                <col width="50%" />
                <col width="50%" />
            </colgroup>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Description
                </td>
                <td class="longtext edit_underline" id="ip_description">{{ ip.description }}</td>
                <span id="ip_description_error"></span>
            </tr>
            <tr>
                <td>
                    Misc
                </td>
                <td class="longtext edit_underline" id="ip_misc">{{ ip.misc }}</td>
                <span id="ip_misc_error"></span>
            </tr>
        </tbody>
    </table>
</div>